@charset "utf-8";
.farmswiper{
  position: relative;
  display: block;
}
.farmswiper img{
  border-radius: 10%;
  max-width: 100%;
}
.farmswiper .title{
  margin-top: 100px;
  line-height: 150%;
}
/* sw-farmswiper 영역 안에서만 적용되는 스타일 */
.sw-farmswiper .swiper-slide .overlay {
  position: relative;
  overflow: hidden;
}

.sw-farmswiper .swiper-slide img {
  display: block;
  width: 100%;
  transition: all 0.3s ease;
}

/* .sw-farmswiper 안의 swiper-slide만 스타일 적용 */
.sw-farmswiper .swiper-slide {
  position: relative;
}

.sw-farmswiper .produce-img {
  width: 100%;
  border-radius: 10%;
  transition: opacity 0.5s ease;
}

.sw-farmswiper .recipe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 10%;
}

/* .sw-farmswiper .recipe-img {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
} */

.sw-farmswiper .recipe-text {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.sw-farmswiper .swiper-slide:hover .produce-img {
  opacity: 0;
}

.sw-farmswiper .swiper-slide:hover .recipe-overlay {
  opacity: 1;
}
