@charset "utf-8";
.footer-wrap {
  background-color: #fdf4ee;
  width: 100%;
  height: auto;
}
.footer-cs {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}
.inner h3 {
  font-weight: bold;
  font-size: 25px;
  color: black;
  margin-left: 20px;
}
.inner .number {
  font-weight: bold;
  color: #ff6741;
}
/* cs (요일,시간) */
.cs {
  display: flex;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 600;
}
.cs-time {
  margin-left: 20px;
}
.cs p {
  padding: 5px;
}

/* cs(sns) */
.cs-sns {
  margin-right: 15px;
}
.cs-circle:hover {
  fill: #ff6741;
  transition: all 0.2s;
}

/* cs(name) */
.footer hr {
  color: black;
  margin: 5px 5px;
}
.cs-name p,
span {
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.cs-name {
  margin: 10px 15px;
}
.name-mail {
  color: #ff6741;
}
/* cs-copy */
.cs-copy {
  display: flex;
  padding: 20px 10px;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  margin-left: 10px;
}

/* 반응형 */
@media screen and (max-width: 1200px) {
}
