@charset "utf-8";
.gallery {
  width: 100%;
  height: auto;
}
.gallery h2 {
  text-align: center;
  padding: 30px 10px;
  font-size: 36px;
  font-weight: bold;
}
.gallery-inner {
  background-color: #fff9ea;
  width: 100%;
  height: auto;
  margin: 30px 20px;
}
.gallery-inner ul {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 30px;
}
.gallery-inner p {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.gallery-inner ul > li > a > img {
  width: 90%;
  height: 90%;
}
/* 갤러리 더보기 버튼 */
.galbtn{
  display: flex; /* 플렉스 박스로 변경 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  min-width: 375px;
  min-height: 70px;
  background-color: #f5f5f7;
  border: none;
  border-radius: 30px;
  margin: 0 auto; /* 부모 요소에서 가로 방향으로 중앙 정렬 */
  margin-top: 3%;
  margin-bottom: 3%;
}

.galbtn:hover{
  background-color: #EBEBEB;
}
.galbtn a{
  font-size: 30px;
  color: #333;
  font-weight: 500;
  padding: 10px;
  display: block; /* a 태그를 블록 요소로 설정 */
  text-align: center; /* 텍스트 중앙 정렬 */
} 


/* 반응형 */
@media screen and (max-width: 1200px) {
  .gallery-inner ul > li > a > img {
    width: 90%;
    height: 90%;
  }
}

