@charset "utf-8";
.gotop {
  position: relative;
  display: contents;
}

.gotop img {
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 9999;
  width: 90px;
  height: 90px;
  border: none;
  cursor: pointer;
  animation: updown 1.5s infinite;
}

/* 문의하기 섹션 (처음에 숨김) */
.faq-section {
  display: none; /* 처음에는 숨김 */
  position: fixed;
  right: 20px;
  bottom: 180px;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10000 !important;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
.topbtn{
  position: relative;
  display: contents;
}

.topbtn img{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width : 768px) {

  .gotop img {
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index: 9999;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    animation: updown 1.5s infinite;
  }
  
  .topbtn img{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
  }
}
@media screen and (max-width : 480px) {

  .gotop img {
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    animation: updown 1.5s infinite;
  }
  
  .topbtn img{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
  }
}

@media screen and (max-width : 320px) {

  .gotop img {
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    animation: updown 1.5s infinite;
  }
  
  .topbtn img{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
  }
}
