@charset "utf-8";
/* 플로팅 버튼 */
.gotop {
  position: relative;
  display: contents;
}
.gotop img {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  animation: updown 1.5s infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
