@charset "utf-8";
.header {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: white;
  z-index: 999999;
  /* backdrop-filter: blur(10px); 
  transition: background-color 0.5s ease, backdrop-filter 0.5s ease;  */
}
.header.active {
  height: 100px;
  position: fixed;
  background-color: white;
  /* backdrop-filter: none; */
}
.header .inner {
  width: 100%;
  height: 100%;
  max-width: 1700px;
  padding: 0 20px;
  display: block;
}
.header .header-wrap {
  height: 100%;
  display: block;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.header-wrap > .inner > a {
  display: block;
  height: 100%;
  align-content: center;
  float: left;
  margin-right: 15px;
}
.header-wrap img {
  height: 100%;
}
.header ul {
  display: flex;
  height: 100%;
  align-items: center;
}
.header ul li {
  margin: 0 15px;
}
.header ul li a {
  font-weight: 700;
}
.header ul li a:hover {
  color: #ff6741;
}
.header-nav {
  float: left;
}
.header-login {
  float: right;
}
