@charset "utf-8";
/* 영역별 css */
@import url(header.css);
@import url(visual.css);
@import url(introduction.css);
@import url(recommend.css);
@import url(farmswiper.css);
@import url(count.css);
@import url(review.css);
@import url(minibanner.css);
@import url(gallery.css);
@import url(footer.css);
/* 폰트 */

/* 공통 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.wrap {
  position: relative;
  display: block;
}
.inner {
  position: relative;
  display: block;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
